* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}

/* Header section css start */
.header-section {
  position: absolute;
  top: 10px;
  width: 100%;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 198px;
}
.menu ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  align-items: center;
}
.menu ul li a {
  text-decoration: none;
  color: #000;
}
.header-btn {
  display: inline-block;
  background-color: #29b575;
  color: #fff !important;
  padding: 4px 24px;
  border-radius: 35px;
}
.default-btn {
  display: inline-block;
  background-color: #29b575;
  color: #fff !important;
  padding: 4px 24px;
  border-radius: 35px;
  text-decoration: none;
}
/* Header section css end */

/* Hero section css start */
.hero-section {
  height: 70vh;
  display: flex;
  align-items: center;
  background-color: #f0fff0;
  padding-top: 64px;
}
.hero-content-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-content {
  width: 45%;
}
.hero-content h1 {
  color: #000;
}
.hero-content h1 span {
  color: #21b573;
}

.primary-descripiton {
  color: #fd511a;
}
.secondary-description {
  color: #000;
  margin: 20px 0;
}
.hero-img {
  width: 55%;
}

/* Hero section css end */
/* Statistics section css start */
.statistics-section {
  padding: 60px 0;
}
.statistics-row {
  display: flex;
  gap: 36px;
}
.statistics-box {
  width: 25%;
  padding: 36px;
  text-align: center;
  transition: 0.5s;
  border-radius: 4px;
}
.statistics-box:hover {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.statistics-box img {
  width: 66px;
}
.statistics-box h4 {
  margin-top: 12px;
}
/* Statistics section css end */

/* Course section css start */
.course-section {
  padding-bottom: 60px;
}
.course-title h2 {
  text-align: center;
  margin-bottom: 32px;
  font-size: 32px;
  color: #413960;
  font-weight: 500;
}

.card-row {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.course-card {
  width: 33.33%;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 24px;
}
.card-header h4 {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 500;
  color: #413960;
}
.card-header p {
  color: #585859;
  margin: 16px 0;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.date {
  width: 65%;
  display: flex;
  gap: 10px;
}
.card-icon span {
  color: #585859;
}
.card-date p {
  color: #585859;
}

.seat {
  width: 35%;
  display: flex;
  gap: 10px;
}
.seat-icon span {
  color: #585859;
}
.seat-number p {
  color: #585859;
}
/* Course section css end */
